/*#f2f2f0-#243c4f-#4c6c73-#d9bd9c*/

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: #f2f2f0;
}

.btn-custum{
    text-transform: uppercase;
    background-color: #f2f2f0;
}

.btn-custum a{
    text-decoration: none;
    color: #243c4f;
}



.background{
    background-image: url(../Img/header.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    color: white;
    height: 800px; 
    text-align: center;
}
.background h1{
    padding-top: 400px;
    padding-bottom: 20px; 
}

.background p{
    padding-bottom: 20px;
}

.box-header{
   float: right;
    
}

/*ABOUT*/

.about{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.about h2{
    text-align: center;
    padding-bottom: 20px;
}

.about p{
    text-align: justify;
    padding-bottom: 50px;
   
}

.icons{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #f2f2f0 ;
}

.icons i{
    color: #f2f2f0;
    font-size: 3rem;
    width: 4rem;
    text-align: center;
    padding-bottom: 50px;
}

.icons p{
    margin: 20px 50px 20px 50px;
    text-align: justify;
}

/*EVENTS*/

.background-events{
    background-color: #4c6c73;
}

.events{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;  
}

.events h2{
    text-align: center;
    padding-bottom: 20px;
}


.events img{
    text-align: center;
}

.events p{
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
}


/*BAN PORTFOLIO*/

.ban-img{
   text-align: center;
   background-image: url(../Img/Ban-folio.jpg);
   background-repeat: no-repeat;
   background-position: fixe;
   background-size: cover;
   opacity: 0.8;
   padding-top: 50px;
   padding-bottom: 50px;
}
.box-ban{
    height: 400px;
    color: #243c4f;
}

.box-ban h2{
 padding-top: 150px;
}

.box-ban a{
    color: #4c6c73;
    text-decoration: none;
}


/*NEWLETTER*/



.newsletter {
    padding: 80px 0;
    background: #f2f2f0;
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
    }

@media (max-width:768px){

    .background{
        height: 700px;
    }

    .btn-lg{
        font-size: small;
    }

    .about{
        padding-top: 20px;
    }

    .about p{
        padding-bottom: 20px;
    }

    .icons{
        border: none;
    }
    .events h2{
        padding-top: 30px;
    }

    .events p{
        padding-top: 0px;
    }
    .box-ban{
        height: 200px; 
    }

    .box-ban h2{
        padding-top: 75px; 
    }

    
}
